.box {
  display: flex;
  flex-direction: column;
}

.cardBox {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.cardBox .card {
  flex-basis: calc(50% - 4px);
}

.cardBox .card:last-child {
  flex-basis: 100%;
}

.modeBox {
  display: flex;
}
