.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  border-radius: 8px;
  padding: 7px 6px;
  width: auto;
  height: 32px;
  background: var(--white);
  border-color: transparent;

  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.button:hover {
  background-color: var(--background);
  transform: scale(1.05);
}

.button:active {
  background-color: var(--contrast-secondary);
  transform: scale(0.95);
}

.button:focus {
  outline: 2px solid var(--purple);
  outline-offset: 2px;
}

.count {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.button:hover .count {
  color: var(--text-secondary);
}
